@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-gold: #00f2ff;
  --color-navy: #050505;
  --color-blue-glow: #0066ff;
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif !important;
}
